    body {
    background-image: url("../images/goldSnow.jpg");
}

#navbar{
    background: rgba(15,94,48,0.5);
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#name {
    font-family: 'petit formal script', 'segeo script', cursive;
    font-weight: bold;
    font-size: 3rem;
    color: #9a0f0f;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'petit formal script', 'segeo script', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0f5e30;
}

@media only screen and (max-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: center!important;
    }

    #navbar {
        justify-content: center!important;
    }
}